@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }


  
/* Add scrollbar styling */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #ffffff;
}

  
 @media (max-width:640px){
    a.active{
        background-color: black;
        color: azure;
    }
 } 

.navbar {
    height: 70px; /* Adjust as needed */
}

body {
    overflow-y: scroll;
}

